{% extends "layout.html" %}
{% block head %}
{{ super() }}
<script src="{{ url_for('static', filename='js/utils.js') }}"></script>
<script src="{{ url_for('static', filename='js/evolutionCharts.js') }}"></script>
{% endblock %}
{% block content %}
<div class="container-fluid" role="main">
  <div class="row justify-content-center">
    <div class="col">
      <h1>{{ _('Evolution') }}</h1>
    </div>
  </div>
    <div class="row justify-content-center">
      <div class="col-md-12">
        <h2 id="trends-threats">{{ _('Threats') }}</h2>
        <div class="d-flex justify-content-center">
          <div id="spinner-threats" class="spinner-border" style="width: 8rem; height: 8rem;"></div>
        </div>
        <div class="d-flex justify-content-center">
          <div class="chart-container" style="position: relative; width:80vw; height:120vh">
            <canvas id="canvas-threats"></canvas>
          </div>
        </div>
        <!-- <div id="my-legend-con" class="legend-con"></div> -->
        <br />
        <p>The values are based on the <i>averageRate</i> of the <a href="https://objects.monarc.lu/schema/15" rel="noreferrer" target="_blank">threats</a>.<sup><a href="#footnote-1">[1]</a></sup>.</p>
      </div>
    </div>
    <br /><hr /><br />
    <div class="row justify-content-center">
      <div class="col">
        <h2 id="trends-vulnerabilities">{{ _('Vulnerabilities') }}</h2>
        <div class="d-flex justify-content-center">
          <div id="spinner-vulnerabilities" class="spinner-border" style="width: 8rem; height: 8rem;"></div>
        </div>
        <div class="d-flex justify-content-center">
          <div class="chart-container" style="position: relative; width:80vw; height:120vh">
            <canvas id="canvas-vulnerabilities"></canvas>
          </div>
        </div>
        <br />
        <p>The values are based on the <i>averageRate</i> of the <a href="https://objects.monarc.lu/schema/14" rel="noreferrer" target="_blank">vulnerabilities</a>.<sup><a href="#footnote-1">[1]</a></sup>.</p>
      </div>
    </div>

    <hr />

    <div class="row">
      <div class="col-md-12">
        <ol class="footnotes">
          <li id="footnote-1">Averages per date of the different averageRate for threats and vulnerabilities.</li>
        </ol>
      </div>
    </div>
  </div><!-- /.container -->
  <script>
      drawEvolutionChart();
  </script>
  {% endblock %}
