{% extends "layout.html" %}
{% block head %}
{{ super() }}
<script src="{{ url_for('static', filename='js/utils.js') }}"></script>
<script src="{{ url_for('static', filename='js/evolutionCharts.js') }}"></script>
{% endblock %}
{% block content %}
<div class="container-fluid" role="main">
  <div class="row justify-content-center">
    <div class="col">
      <h1>{{ _('Evolution') }}</h1>
    </div>
  </div>
    <div class="row justify-content-center">
      <div class="col-md-12">
        <h2 id="trends-threats">{{ _('Threats') }}</h2>
        <label for="displayThreatsEvolutionBy">{{ _('Display by')}}</label>
        <select id="displayThreatsEvolutionBy">
          <option value="averageRate" selected>{{ _('Probability')}}</option>
          <option value="count">{{ _('Occurrence')}}</option>
          <option value="maxRisk">{{ _('Max. associated risk level')}}</option>
        </select>
        <label for="orderThreatsEvolutionBy">{{ _('Order by')}}</label>
        <select id="orderThreatsEvolutionBy">
          <option value="highest" selected>{{ '20 ' +_('Highest')}}</option>
          <option value="lowest">{{ '20 ' + _('Lowest')}}</option>
        </select>
        <div class="d-flex justify-content-center">
          <div id="spinner-threatsEvolution" class="spinner-border" style="width: 8rem; height: 8rem;"></div>
        </div>
        <br />
        <div class="d-flex justify-content-center">
          <div class="chart-container" style="position: relative; width:80vw">
            <canvas id="canvas-threatsEvolution"></canvas>
          </div>
        </div>
      </div>
    </div>
    <br /><hr /><br />
    <div class="row justify-content-center">
      <div class="col">
        <h2 id="trends-vulnerabilities">{{ _('Vulnerabilities') }}</h2>
        <label for="displayVulnerabilitiesEvolutionBy">{{ _('Display by')}}</label>
        <select id="displayVulnerabilitiesEvolutionBy">
          <option value="averageRate" selected>{{ _('Probability')}}</option>
          <option value="count">{{ _('Occurrence')}}</option>
          <option value="maxRisk">{{ _('Max. associated risk level')}}</option>
        </select>
        <label for="orderVulnerabilitiesEvolutionBy">{{ _('Order by')}}</label>
        <select id="orderVulnerabilitiesEvolutionBy">
          <option value="highest" selected>{{ '20 ' + _('Highest')}}</option>
          <option value="lowest">{{ '20 ' + _('Lowest')}}</option>
        </select>
        <div class="d-flex justify-content-center">
          <div id="spinner-vulnerabilitiesEvolution" class="spinner-border" style="width: 8rem; height: 8rem;"></div>
        </div>
        <br />
        <div class="d-flex justify-content-center">
          <div class="chart-container" style="position: relative; width:80vw">
            <canvas id="canvas-vulnerabilitiesEvolution"></canvas>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script>
      drawEvolutionChart();
  </script>
  {% endblock %}
