{% extends "layout.html" %}
{% block head %}
{{ super() }}
<script src="{{ url_for('static', filename='js/utils.js') }}"></script>
<script src="{{ url_for('static', filename='js/threatsCharts.js') }}"></script>
<script src="{{ url_for('static', filename='js/vulnerabilitiesCharts.js') }}"></script>

{% endblock %}
{% block content %}
<!-- Modal -->
<div class="modal fade" id="MOSPModal" tabindex="-1" aria-labelledby="MOSPModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="MOSPModalLabel">{{ _('You are about to leave this website') }}</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        {{ _('Leave the webiste and see the object on the <a href="https://objects.monarc.lu" target="_blank" rel="noopener noreferrer">MONARC Objects Sharing Platform</a> (MOSP).') }}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" id="MOSPModalClose">{{ _('Close') }}</button>
        <button type="button" class="btn btn-primary" id="MOSPModalOK">{{ _('See the object on MOSP') }}</button>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="unknowObjectModal" tabindex="-1" aria-labelledby="unknowObjectModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="unknowObjectModalLabel">{{ _('Unknow object') }}</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
      {{ _('We were not able to find this object on MOSP.') }}<br /><br />
      {{ _('If you are the author of this object or know more information, you can <a href="https://objects.monarc.lu/help#join_the_community" target="_blank" rel="noopener noreferrer">add it</a> to our MONARC Objects Sharing Platform.') }}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" id="MOSPModalClose">{{ _('Close') }}</button>
      </div>
    </div>
  </div>
</div>

<div class="container" role="main">
  <div class="row justify-content-center">
    <div class="col">
      <h1>{{ _('Current Cybersecurity landscape') }}</h1>
    </div>
  </div>

  <br />

  <div class="row justify-content-center">
    <div class="col-md-6">
      <h2 id="trends-threats">{{ _('Top threats')}}</h2>
      <label for="topThreats">{{ _('Number of threats')}}</label>
      <select id="topThreats">
        <option value="5" selected>5</option>
        <option value="10">10</option>
        <option value="15">15</option>
      </select>
      <div class="d-flex justify-content-center">
        <div class="chart-container" style="position: relative; width:80vw">
          <canvas id="threats-chart"></canvas>
        </div>
      </div>
    </div>

    <div class="col-md-6">
      <h2 id="trends-threats">{{ _('Top vulnerabilities') }}</h2>
      <label for="topVulnerabilities">{{ _('Number of vulnerabilities')}}</label>
      <select id="topVulnerabilities">
        <option value="5" selected>5</option>
        <option value="10">10</option>
        <option value="15">15</option>
      </select>
      <div class="d-flex justify-content-center">
        <div class="chart-container" style="position: relative;  width:80vw">
          <canvas id="vulnerabilities-chart"></canvas>
        </div>
      </div>
    </div>
  </div>

  <br />

  <div class="row">
    <div class="col-md-12">
      <p>{{ _('Charts based on the most recent collected data.') }}</p>
      <p>{{ _('See the recent') }} <a href="{{ url_for('stats_bp.stats') }}">{{ _('evolution') }}</a> {{ _('for the threats and vulnerabilities.') }}</p>
    </div>
  </div>

  <br />

  <div class="row justify-content-center">
    <div class="col-md-8">
      <h2 id="trends-risks">{{ _('Risks') }}</h2>
      <canvas id="canvas-risks-info"></canvas>
      <canvas id="canvas-risks-op"></canvas>
    </div>
  </div>

  <br />

  <div class="row justify-content-center">
    <div class="col-md-8">
      <div class="jumbotron m-3">
        <h2>{{ _('What are these graphics about?') }}</h2>
        <p class="lead">{{ _('This page depicts the current
          cybersecurity landscape (in terms of
          <a href="https://objects.monarc.lu/schema/14" rel="noreferrer" target="_blank">vulnerabilities</a>,
          <a href="https://objects.monarc.lu/schema/15" rel="noreferrer" target="_blank">threats</a> and
          <a href="https://objects.monarc.lu/schema/16" rel="noreferrer" target="_blank">risks</a>)
          based on data shared by
          several <a href="https://www.monarc.lu" rel="noreferrer" target="_blank">MONARC</a> instances<sup><a href="#footnote-1">[1]</a></sup>.') }}<br />
          <hr class="my-4">
          <a class="btn btn-primary btn-lg" href="{{ url_for('root_bp.help') }}#how-does-it-work" role="button">{{ _('Learn more') }}</a>
        </div>
      </div>
    </div>

    <hr />

    <div class="row">
      <div class="col-md-12">
        <ol class="footnotes">
          <li id="footnote-1"><a href="{{ url_for('root_bp.about_more') }}">{{ _('Details') }}</a> {{ _('about contributors and the stats on this instance.') }}</li>
        </ol>
      </div>
    </div>
</div><!-- /.container -->
<script>
  var MOSPModal = new bootstrap.Modal(document.getElementById('MOSPModal'), {
    keyboard: false
  })
  var unknowObjectModal = new bootstrap.Modal(document.getElementById('unknowObjectModal'), {
    keyboard: false
  })

  drawThreatsChart();
  drawVulnerabilitiesChart();
  drawRisksChart();
</script>
{% endblock %}
