{% extends "layout.html" %}
{% set active_page = "index" %}
{% block content %}
<div class="container-fluid p-2" role="main">
  <h1>{{ _('Current Cybersecurity landscape') }}</h1>
  <nav aria-label="currrent-stats-navtabs">
    <div class="nav nav-tabs" id="nav-tab" role="tablist">
      <a class="nav-item nav-link active" id="nav-threats-tab" data-bs-toggle="tab" href="#nav-threats" role="tab" aria-controls="nav-threats" aria-selected="true">{{ _('Top threats')}}</a>
      <a class="nav-item nav-link" id="nav-vulnerabilities-tab" data-bs-toggle="tab" href="#nav-vulnerabilities" role="tab" aria-controls="nav-vulnerabilities" aria-selected="false">{{ _('Top vulnerabilities') }}</a>
      <a class="nav-item nav-link" id="nav-risks-tab" data-bs-toggle="tab" href="#nav-risks" role="tab" aria-controls="nav-risks" aria-selected="false">{{ _('Risks') }}</a>
    </div>
  </nav>
  <div class="tab-content" id="nav-tabContent">
    <div class="tab-pane fade show active p-4" id="nav-threats" role="tabpanel" aria-labelledby="nav-threats-tab">
        <div class="row d-flex justify-content-center">
          <div class="col-md-auto">
            <label for="topThreats">{{ _('Number of threats')}}</label>
            <select id="topThreats">
              <option value="5" selected>5</option>
              <option value="10">10</option>
              <option value="15">15</option>
            </select>
          </div>
          <div class="col-md-auto">
            <label for="displayThreatsBy">{{ _('Display by')}}</label>
            <select id="displayThreatsBy">
              <option value="averageRate" selected>{{ _('Probability')}}</option>
              <option value="count">{{ _('Occurrence')}}</option>
              <option value="maxRisk">{{ _('Max. associated risk level')}}</option>
            </select>
          </div>
          <div class="col-md-auto">
            <label for="orderThreatsBy">{{ _('Order by')}}</label>
            <select id="orderThreatsBy">
              <option value="highest" selected>{{('Highest')}}</option>
              <option value="lowest">{{('Lowest')}}</option>
            </select>
          </div>
          <div class="dropdown col-1" data-toggle="tooltip" title="{{ _ ('Export')}}">
            <i class="bi-save-fill text-primary" type="button" id="threatsMenuExport" data-bs-toggle="dropdown" aria-expanded="false">
            </i>
            <ul class="dropdown-menu" aria-labelledby="threatsMenuExport" style="min-width:1rem">
              <li><a class="dropdown-item" type="button" id="exportThreatsPNG">.png</a></li>
              <li><a class="dropdown-item" id="exportThreatsCSV">.csv</a></li>
            </ul>
          </div>
        </div>
        <div class="mx-auto py-3 chart-container currentChart">
          <canvas id="threats-chart"></canvas>
        </div>
    </div>
    <div class="tab-pane fade p-4" id="nav-vulnerabilities" role="tabpanel" aria-labelledby="nav-vulnerabilities-tab">
        <div class="row d-flex justify-content-center">
          <div class="col-md-auto">
            <label for="topVulnerabilities">{{ _('Number of vulnerabilities')}}</label>
            <select id="topVulnerabilities">
              <option value="5" selected>5</option>
              <option value="10">10</option>
              <option value="15">15</option>
            </select>
          </div>
          <div class="col-md-auto">
            <label for="displayVulnerabilitiesBy">{{ _('Display by')}}</label>
            <select id="displayVulnerabilitiesBy">
              <option value="averageRate" selected>{{ _('Qualification')}}</option>
              <option value="count">{{ _('Occurrence')}}</option>
              <option value="maxRisk">{{ _('Max. associated risk level')}}</option>
            </select>
          </div>
          <div class="col-md-auto">
            <label for="orderVulnerabilitiesBy">{{ _('Order by')}}</label>
            <select id="orderVulnerabilitiesBy">
              <option value="highest" selected>{{ _('Highest')}}</option>
              <option value="lowest">{{ _('Lowest')}}</option>
            </select>
          </div>
          <div class="dropdown col-1" data-toggle="tooltip" title="{{ _ ('Export')}}">
            <i class="bi-save-fill text-primary" type="button" id="vulnerabilitiesMenuExport" data-bs-toggle="dropdown" aria-expanded="false">
            </i>
            <ul class="dropdown-menu" aria-labelledby="vulnerabilitiesMenuExport" style="min-width:1rem">
              <li><a class="dropdown-item" type="button" id="exportVulnerabilitiesPNG">.png</a></li>
              <li><a class="dropdown-item" id="exportVulnerabilitiesCSV">.csv</a></li>
            </ul>
          </div>
        </div>
        <div class="mx-auto py-3 chart-container currentChart">
          <canvas id="vulnerabilities-chart"></canvas>
        </div>
    </div>
    <div class="tab-pane fade" id="nav-risks" role="tabpanel" aria-labelledby="nav-risks-tab">
        <div class="col-md-12 row p-4 text-center">
          <div class="col-md-6">
            <div class="row d-flex justify-content-center align-items-center">
              <h2 class="col-md-auto">{{ _('Information Risks') }}</h2>
              <div class="dropdown col-1 pb-1" data-toggle="tooltip" title="{{ _ ('Export')}}">
                <i class="bi-save-fill text-primary align-middle" type="button" id="infoRisksMenuExport" data-bs-toggle="dropdown" aria-expanded="false">
                </i>
                <ul class="dropdown-menu" aria-labelledby="infoRisksMenuExport" style="min-width:1rem">
                  <li><a class="dropdown-item" type="button" id="exportInfoRisksPNG">.png</a></li>
                  <li><a class="dropdown-item" id="exportInfoRisksCSV">.csv</a></li>
                </ul>
            </div>
            </div>
            <div class="px-3 chart-container riskChart">
              <canvas id="canvas-risks-info"></canvas>
            </div>
          </div>
          <div class="col-md-6">
            <div class="row d-flex justify-content-center align-items-center">
              <h2 class="col-md-auto">{{ _('Operational Risks') }}</h2>
              <div class="dropdown col-1 pb-1" data-toggle="tooltip" title="{{ _ ('Export')}}">
                <i class="bi-save-fill text-primary align-middle" type="button" id="opRisksMenuExport" data-bs-toggle="dropdown" aria-expanded="false">
                </i>
                <ul class="dropdown-menu" aria-labelledby="opRisksMenuExport" style="min-width:1rem">
                  <li><a class="dropdown-item" type="button" id="exportOpRisksPNG">.png</a></li>
                  <li><a class="dropdown-item" id="exportOpRisksCSV">.csv</a></li>
                </ul>
            </div>
            </div>
            <div class="px-3 chart-container riskChart">
              <canvas id="canvas-risks-op"></canvas>
            </div>
        </div>
      </div>
    </div>
  </div>
</div><!-- /.container -->
<!-- Modals -->
<div class="modal fade" id="MOSPModal" tabindex="-1" aria-labelledby="MOSPModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="MOSPModalLabel">{{ _('You are about to leave this website') }}</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        {{ _('Leave the webiste and see the object on the <a href="https://objects.monarc.lu" target="_blank" rel="noopener noreferrer">MONARC Objects Sharing Platform</a> (MOSP).') }}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" id="MOSPModalClose">{{ _('Close') }}</button>
        <button type="button" class="btn btn-primary" id="MOSPModalOK">{{ _('See the object on MOSP') }}</button>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="unknowObjectModal" tabindex="-1" aria-labelledby="unknowObjectModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="unknowObjectModalLabel">{{ _('Unknow object') }}</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
      {{ _('We were not able to find this object on MOSP.') }}<br /><br />
      {{ _('If you are the author of this object or know more information, you can <a href="https://objects.monarc.lu/help#join_the_community" target="_blank" rel="noopener noreferrer">add it</a> to our MONARC Objects Sharing Platform.') }}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" id="unknowObjectModalClose">{{ _('Close') }}</button>
      </div>
    </div>
  </div>
</div>
<script>
  getModals();
  drawThreatsChart();
  drawVulnerabilitiesChart();
  drawRisksChart();
</script>
{% endblock %}
