<!DOCTYPE html>
<html lang="en">
<head>
  {% block head %}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="description" content="{{ _('MONARC Dashboard') }}" />
  <meta name="author" content="CASES.lu - Cyberworld Awareness and Security Enhancement Services" />
   <meta name="keywords" content="MONARC, stats, threats, vulnerabilities, infosec">
  <link rel="author" type="text/plain"  href="{{ url_for('root_bp.human')  }}" />
  <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='img/favicon.ico') }}" />
  <link rel="apple-touch-icon" sizes="152x152" href="{{ url_for('static', filename='img/apple-touch-icon.png') }}">
  <link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename='img/apple-touch-icon.png') }}" />
  <title>Global dashboard</title>
  {% block head_css %}
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='npm_components/bootstrap/dist/css/bootstrap.min.css') }}" media="screen" />
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/custom.css') }}" />
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='npm_components/bootstrap-icons/font/bootstrap-icons.css') }}" />
  {% endblock %}
  <script type="text/javascript" src="{{ url_for('static', filename='npm_components/@popperjs/core/dist/umd/popper.min.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='npm_components/bootstrap/dist/js/bootstrap.min.js') }}"></script>
  <script src="{{ url_for('static', filename='npm_components/chart.js/dist/chart.min.js') }}"></script>
  <script src="{{ url_for('static', filename='npm_components/moment/min/moment.min.js') }}"></script>
  <script src="{{ url_for('static', filename='npm_components/chartjs-adapter-moment/dist/chartjs-adapter-moment.min.js') }}"></script>
  <script src="{{ url_for('static', filename='npm_components/lodash.clonedeep/index.js') }}"></script>
  <script src="{{ url_for('static', filename='npm_components/d3-color/dist/d3-color.min.js') }}"></script>
  <script src="{{ url_for('static', filename='npm_components/d3-interpolate/dist/d3-interpolate.min.js') }}"></script>
  <script src="{{ url_for('static', filename='npm_components/d3-scale-chromatic/dist/d3-scale-chromatic.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/utils.js') }}"></script>
  <script src="{{ url_for('static', filename='js/threatsCharts.js') }}"></script>
  <script src="{{ url_for('static', filename='js/vulnerabilitiesCharts.js') }}"></script>
  <script src="{{ url_for('static', filename='js/risksCharts.js') }}"></script>
  {% endblock %}
</head>
{% block page_body %}
<body>
  {% block menu %}
  {% set active_page = active_page|default('index') -%}
  <nav class="navbar navbar-expand-lg navbar-dark bg-custom-blue">
    <div class="container-fluid">
      <a class="navbar-brand" href="{{ url_for('root_bp.home') }}">
        <img src="{{ url_for('static', filename='img/apple-touch-icon.png') }}" width="30" height="30" class="d-inline-block align-top" alt="" loading="lazy">
        MONARC Dashboard
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      {% block menu_links %}
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link {% if active_page == "index" %}active{%endif%}" href="{{ url_for('root_bp.home') }}">{{_('Current stats')}}</a>
          </li>
          <li class="nav-item">
            <a class="nav-link {% if active_page == "evolution" %}active{%endif%}" href="{{ url_for('root_bp.evolution') }}">{{_('Evolution')}}</a>
          </li>
          {% if "map_bp" in config.ACTIVE_BLUEPRINTS %}
          <li class="nav-item">
            <a class="nav-link {% if active_page == "map" %}active{%endif%}" href="{{ url_for('map_bp.index') }}">{{_('Map')}}</a>
          </li>
          {% endif %}
          <li class="nav-item">
            <a class="nav-link {% if active_page == "about" %}active{%endif%}" href="{{ url_for('root_bp.about') }}">{{_('About')}}</a>
          </li>
        </ul>
      </div>
      {% endblock %}
    </div>
  </nav>
  {% endblock %}
  {% block content %}{% endblock %}
  <br />
  <footer class="footer">
    <div class="container-fluid">
      <div class="row">
        <div class="col">
          <a href="{{ url_for('root_bp.about') }}" title="About">{{ _('About') }}</a>
          &nbsp;&nbsp;
          <a href="{{ url_for('root_bp.help') }}" title="Help">{{ _('Help') }}</a>
          &nbsp;&nbsp;
          <a href="{{ url_for('api.doc') }}">{{ _('OpenAPI Specification') }}</a>
        </div>
      </div>
    </div>
  </footer>
</body>
{% endblock %}
</html>
