<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Stats" />
    <title>Stats</title>
    <script src="{{ url_for('static', filename='npm_components/chart.js/dist/Chart.min.js') }}"></script>
</head>
<body>
  <div style="width:75%;">
		<canvas id="canvas"></canvas>
	</div>

</body>
<script>
(function() {
  var timeFormat = 'YYYY-MM-DD';








  // fetch stats for threats
  fetch("{{ url_for('stats_bp.threats',) }}", {
    method: "GET",
    headers: {
      'Content-Type': 'application/json',
    },
  })
  .then((resp) => resp.json())
  .then(function(data) {
    Object.keys(data).map(function(threat_uuid, value) {
      console.log(data[threat_uuid]);

      // fetch inforation about relevant threats from MOSP
      fetch("https://objects.monarc.lu/api/v2/object/?uuid="+threat_uuid, {
        method: "GET",

        headers: {
          'Content-Type': 'text/plain',
        },
      })
      .then((resp1) => resp1.json())
      .then(function(mosp_result) {
        console.log(mosp_result["data"][0].name);
      })
      .catch((error) => {
        console.error('Error:', error);
      });;


    })
  })
  .catch((error) => {
    console.error('Error:', error);
  });;



  // fetch stats for risks
  fetch("{{ url_for('stats_bp.risks',) }}", {
    method: "GET",
    headers: {
      'Content-Type': 'application/json',
    },
  }).then(res => {
    console.log("Request complete! response:", res);
  }).catch((error) => {
    console.error('Error:', error);
  });;
})();
</script>
</html>
