/* Bootstrap customization */
html {
    position: relative;
    min-height: 100%;
}
body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
    background-color: rgb(246, 248, 250);
}
img {
    padding: 2px;
}

.text-primary {
    color: #006FBA !important;
}

.bg-custom-blue {
    background-color: #006FBA;
}
.btn-primary {
    background-color: #006FBA;
    color: white;
}
.btn-outline-primary {
    border-color: #006FBA;
    color: #006FBA;
}
.btn-secondary {
    background-color: #006FBA;
    color: white;
}
.btn-default {
    background-color: #006FBA;
    color: white;
}

a.disabled {
  /* Make the disabled links grayish*/
  color: gray;
  opacity: 1;
  /* And disable the pointer events */
  pointer-events: none;
}

.jumbotron {
  padding: 4rem 2rem;
  margin-bottom: 2rem;
  background-color: #e9ecef;
  border-radius: .3rem;
}

.navbar-nav  {
  color: #FFD740
}
.navbar-nav .nav-link.active {
  font-weight: bolder;
  color: #FFD740 !important;
}
.navbar-nav .nav-link {
  color: white !important;
}

.nav-tabs .nav-link.active {
  background: 0;
  border-bottom-color: #FFD740;
  color: #006FBA;
}
.nav-tabs .nav-link {
  color: #495057;
}

h1{
  font-size:24px;
}

h2{
  font-size:22px;
}

h3{
  font-size:20px;
}

h4{
  font-size:18px;
}

h5{
  font-size:16px;
}

h6{
  font-size:14px;
}

/* Sticky footer */
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  line-height: 60px; /* Vertically center the text there */
  background-color: #006FBA;
}
.footer a{
    color: #FFFFFF;
}

/* Charts */
.currentChart {
  position: relative;
  height:57vh;
  width:80vw;
}
.evolutionChart {
  position: relative;
  height:70vh;
  width:80vw;
}
.riskChart {
  position: relative;
  height:56vh;
  width:45vw;
}
.mapChart {
  height:65vh;
}
.legend-tooltip {
  visibility: hidden;
  background-color: #000;
  color: #fff;
  position: absolute;
  display:inline-block;
  font-size: 10px;
  max-width: 15vw;
  opacity: 0.8;
  padding: 5px;
  border-radius: 5px;
}
